////
/// Media query page break settings.
////

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;




$breakpoints : (
	mobile  : 480px,
	small   : 600px,
	tablet  : 768px,
	desktop : 1168px,
	wide    : 1379px
);

/// Returns an map of page breaks in name-value format.
/// @return {map}  Map of page breaks.
@function breaks() {
	@return $breakpoints;
}

/// Returns a single page break value by name.
/// @return {string} Page break value in pixels
@function break( $name ) {
	@return map-get( breaks(), $name );
}