////
/// Header 1 component
////
@import '../../../assets/scss/settings/_index';
@import '../../../assets/scss/tools/_index';

.site-header {

	display: flex;
	margin: 0 auto;
	padding: 0 1rem;
	//max-width: 1200px;
	height: 2.5rem;
	justify-content: space-between;
	align-items: center;
	
	@include media(desktop) {
		height: 3.5rem;
	}

}

.site-header__brand {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
}

.site-header__elements {

	display: flex;
	flex: 0 0 auto;
	height: 100%;

	& > :not(:last-child) {
		margin-right: 20px;
	}

	.site-primary-nav {

		display: none;

		@include media(desktop) {
			display: flex;		
		}

	}

	.site-social-nav {

		display: none;
		align-items: center;

		@include media(desktop) {
			display: flex;		
		}

	}

	.site-search-form {

		display: none;
		align-items: center;
		
		@include media(desktop) {
			display: flex;		
		}

	}

}

.site-mobile-menu-trigger {

	@include media(desktop) {
		display: none;
	}

}
