////
/// Site component.
/// The wrapper for the entire page layout.
////

.site {

	margin: 0 auto;
	width: 100%;

}

.site-content {

	// overflow: hidden;

	max-width: calc(100% - (2 * #{ $size__spacing-unit }));
	margin: 0 $size__spacing-unit;

	@include media(tablet) {
		max-width: $size__content-max-width;
		margin: 0 calc((100% - #{ $size__content-max-width }) / 2);
		padding: 0 60px;
	}

}

.has-sidebar-right .site-content {

	@include media(desktop) {

		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: $size__spacing-unit;
		justify-content: center;

		.site-main {
			grid-column: 1;
			min-width: 0;
		}
	
		.site-sidebar-right {
			grid-column: 2;
			min-width: 0;
		}

	}

}

.has-sidebar-left .site-content {

	@include media(desktop) {

		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: $size__spacing-unit;
		justify-content: center;

		.site-sidebar-left {
			grid-column: 1;
			min-width: 0;
		}

		.site-main {
			grid-column: 2;
			min-width: 0;
		}

	}

}

.has-sidebar-both .site-content {

	@include media(desktop) {

		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-gap: $size__spacing-unit;
		justify-content: center;

		.site-sidebar-left {
			grid-column: 1;
			min-width: 0;
		}

		.site-main {
			grid-column: 2;
			min-width: 0;
		}

		.site-sidebar-right {
			grid-column: 3;
			min-width: 0;
		}

	}

}