$body-font-color: #333;
$body-font-family: Montserrat, 'Crimson Text', serif;
$body-font-size: 16px;
$body-font-line-height: 1.4;
$headings-font-color: #32373c;
$highlight-font-family: 'Roboto Condensed', sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-sm: 37.5em; // 600px

// Small tablets (portrait view)
$screen-md: 48em; // 768px

// Tablets and small desktops
$screen-lg: 60em; // 960px

// Tablets and small desktops
$screen-xl: 75em; // 1200px

// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm}) {
			@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{$screen-md}) {
			@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg}) {
			@content;
	}
}

// very Large devices
@mixin xl {
	@media (min-width: #{$screen-xl}) {
			@content;
	}
}



// Custom devices
@mixin custom($screen) {
	@media (min-width: $screen+'em') {
			@content;
	}
}