////
/// Default elements.
////

html {
	box-sizing: border-box;
}

::selection {
	background-color: $color__background_selection;
}

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

// Body styles. Note that we're hiding horizontal overflow so that wide images don't overflow.
body {
	overflow-x: hidden;
	background: $color__background-body; //Fallback for when there is no custom background color defined.
}

hr {
	background-color: $color__text-light;
	border: 0;
	height: 2px;
}

ul,
ol {
	padding-left: ( 1 * $size__spacing-unit );
}

ul {
	list-style: disc;

	ul {
		list-style-type: circle;
	}
}

ol {
	list-style: decimal;
}

li {
	line-height: $font__line-height-body;
}

li > ul,
li > ol {
	padding-left: ( 2 * $size__spacing-unit );
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $size__spacing-unit $size__spacing-unit;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	position: relative;
}

// Extra wide images within figure tags don't overflow the content area.
figure {
	margin: 0.5em 0;
}

blockquote {
	border-left: 2px solid $color__link;
	margin-left: 0;
	padding: 0 0 0 $size__spacing-unit;

	> p {
		margin: 0 0 $size__spacing-unit;
	}

	cite {
		color: $color__text-light;
	}
}

table {
	margin: 0 0 $size__spacing-unit;
	border-collapse: collapse;
	width: 100%;
	font-family: $font__heading;

	td,
	th {
		padding: 0.5em;
		border: 1px solid $color__text-light;
		word-break: break-all;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: $size__spacing-unit 0;
}