////
/// Audio block.
////

.entry .entry-content {

	.wp-block-audio {

		width: 100%;
	
		audio {
			width: 100%;
		}
	
		&.alignleft audio,
		&.alignright audio {
	
			max-width: (0.33 * $mobile_width);
	
			@include media(tablet) {
				max-width: (0.5 * $tablet_width);
			}
	
			@include media(wide) {
				max-width: (0.33 * $desktop_width);
			}
		}
	
	}

}

