////
/// Button block.
////

.entry .entry-content {

	.wp-block-button {

		.wp-block-button__link {
	
			@include button-transition;
	
			border: none;
			font-size: $font__size-sm;
			font-family: $font__heading;
			line-height: $font__line-height-heading;
			box-sizing: border-box;
			font-weight: bold;
			text-decoration: none;
			padding: ($size__spacing-unit * .76) $size__spacing-unit;
			outline: none;
			outline: none;
	
			&:not(.has-background) {
				background-color: $color__background-button;
			}
	
			&:not(.has-text-color) {
				color: $color__white;
			}
	
			&:hover {
				color: white;
				background: $color__background-button-hover;
				cursor: pointer;
			}
	
			&:focus {
				color: white;
				background: $color__background-button-hover;
				outline: thin dotted;
				outline-offset: -4px;
			}
		}
	
		&:not(.is-style-squared) .wp-block-button__link {
			border-radius: 5px;
		}
	
		&.is-style-outline .wp-block-button__link,
		&.is-style-outline .wp-block-button__link:focus,
		&.is-style-outline .wp-block-button__link:active {
	
			border-width: 2px;
			border-style: solid;
	
			&:not(.has-background) {
				background: transparent;
			}
	
			&:not(.has-text-color) {
				color: $color__background-button;
				border-color: currentColor;
			}
		}
	
		&.is-style-outline .wp-block-button__link:hover {
			color: white;
			border-color: $color__background-button-hover;
			&:not(.has-background) {
				color: $color__background-button-hover;
			}
		}
	
	}

}


