////
/// Columns block.
////

.entry .entry-content {

	.wp-block-columns {

		&.alignfull {
			padding-left: $size__spacing-unit;
			padding-right: $size__spacing-unit;
		}

		@include media(mobile) {
			flex-wrap: nowrap;
		}

		@include media(tablet) {
			.wp-block-column > * {

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			&[class*='has-'] > * {
				margin-right: $size__spacing-unit;

				&:last-child {
					margin-right: 0;
				}
			}

			&.alignfull,
			&.alignfull .wp-block-column {
				padding-left: calc(2 * #{$size__spacing-unit});
				padding-right: calc(2 * #{$size__spacing-unit});
			}
		}
	}

}