#sub-accordion-section-amply_section_options_expanded_section {
	height: 60px !important;
	margin-top: 10px !important;
}

.default-header-type-trigger {
	padding: 10px;
	background: #fff;
	border-style: solid;
	border-radius: 5px;
}